* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
}

header {
  background-color: aqua;
  height: 50px;
  position: relative;
  margin-bottom: 20px;
}

#header-menu {
  position: absolute;
  top: 25%;
  right: 5%;
}

#header-menu li {
  padding-right: 40px;
  display: inline;
  list-style-type: none;
  font-size: 1.2rem;
}

#header-menu li a {
  text-decoration: none;
  color: white;
}

main {
  width: 90%;
  margin: auto;
}

#image-logo {
  height: 200px;
  width: 200px;
  border-radius: 75%;
  display: block;
  float: left;
  margin-left: 20%;
}

#main-information {
  position: relative;
  text-align: center;
}

#main-text {
  position: absolute;
  top: 50px;
  left: 40%;
  font-size: 35px;
}

#main-text h1 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid aqua;
}

#contacts {
  clear: both;
}